.DS_Store

/.idea/*
!/.idea/codeStyles

/.idea/dictionaries/*
!/.idea/dictionaries/
!/.idea/dictionaries/alwin.xml

/.idea/inspectionProfiles/*
!/.idea/inspectionProfiles/
!/.idea/inspectionProfiles/Project_Default.xml

/composer.lock
/vendor
